.jumbotron{
	background-color: #FF856E;
	margin-top: 50px;
	color: white;
}

h1{
	text-align: center;
	font-family: oswald;
	font-size: 45px;
}

body{
	background-color: #57BEB1;
}

.form-control{
	width: 50%;
	color: #FF856E;
}

.form-group{
	color: white;
	font-family: oswald;



}

.radio{
	color: white;
	font-family: oswald;
}

#results{
	
	font-family: oswald;
}

.well {
    background: rgb(22, 105, 173);
}

.card{
	margin-top: 10px;
	margin-bottom: 10px;
}