.jumbotron{
	background-color: #e63946;
	margin-top: 50px;
	color: white;
}

h1{
	text-align: center;
	font-family: oswald;
	font-size: 45px;
}

body{
	background-color: #f1faee;
}

.form-control{
	width: 50%;
	color: #2b2d42;
}

.form-group{
	color: #1d3557;
	font-family: oswald;


}

.radio{
	color: #1d3557;
	font-family: oswald;
}

#results{
	
	font-family: oswald;
}



.card{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #a8dadc;
	color: #1d3557;

	}

#email{
float:right;
margin-top: 22px;

}

#title{
	margin-left: 10px;
}
