.jumbotron{
	background-color: #e63946;
	margin-top: 50px;
	color: white;
}

h1{
	text-align: center;
	font-family: oswald;
	font-size: 45px;
}

body{
	background-color: #f1faee;
}

.form-control{
	width: 50%;
	color: #2b2d42;
}

.form-group{
	color: #1d3557;
	font-family: oswald;


}

.radio{
	color: #1d3557;
	font-family: oswald;
}

#results{
	
	font-family: oswald;
}



.card{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #a8dadc;
	color: #1d3557;

	}

#email{
float:right;
margin-top: 22px;

}

#title{
	margin-left: 10px;
}

#country{
	margin-left: 10px;
	font-weight: bolder;
}

img{
	box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);

;
}


.btn-primary{
	background-color: #e63946;
	border:0px;
}

.btn-primary:hover{
	background-color: #4299f5;
	border:0px;
}

@media(max-width: 500px){

	#email{
		width:100px;
		overflow-wrap: break-word;
	}
	}
